.memesContainer {
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
    top: 5%;
    transform: translate(0, 0);
}

.item {
    position: relative;
    display: inline-block;
    width: 320px;
    height: 320px;
    margin: 35px;
}

.meme {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.memeImage {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.creator {
    position: absolute;
    top: 270px;
    left: 0;
    width: 230px;
    margin-top: 0;
}

.rate {
    position: absolute;
    top: 290px;
    right: 50px;
    height: 30px;
    font-size: 26px;
}

.like {
    position: absolute;
    right: 0;
    top: 290px;
    background-color: #70db70;
    border: 1px solid #70db70;
    border-radius: 3px;
    height: 30px;
    width: 40px;
}

.like:hover {
    cursor: pointer;
}

.like.disabled {
    cursor: not-allowed;
}

#nav {
    width: 90%;
    position: fixed;
    height: 42px;
    top: 20px;
    text-align: right;
}